custom-select{
    font-family:Calibri Light, sans-serif;
}

custom-select .btn-group,
custom-select button,
custom-select div{
    width:100% !important;  
}

custom-select button{
    text-align: left !important;
}

custom-select div.dropdown-menu{
   padding-left: 5px;
padding-right:5px;
}

custom-select div.dropdown-menu ul{
    margin-top: 5px;
 padding:5px !important;
 max-height: 300px !important;
overflow-y: scroll;
overflow-x: hidden;
}

custom-select div.dropdown-menu ul::-webkit-scrollbar{
    width:8px;
    border: 1px solid lightgray;
    border-radius: 5px;
}

custom-select div.dropdown-menu ul::-webkit-scrollbar-thumb{
    background-color: lightgray;
    border-radius: 5px;
    cursor:pointer !important;
}

custom-select div.dropdown-menu ul::-webkit-scrollbar-thumb:hover{
    background-color: gray;
    width:8px;
     cursor:pointer !important;
}


custom-select div.dropdown-menu ul li{
 padding-left: 5px !important;
 padding-top:5px !important;
 padding-bottom: :5px !important;
cursor: pointer;
}



custom-select div.dropdown-menu ul li:hover{
    background-color: lightblue;
}

custom-select div.dropdown-menu ul li.selected{
    background-color:orange;
}

custom-select button span.fa{
margin-top:2px;    
}



