<div class="btn-group">
    <button 
            class="btn btn-default dropdown-toggle"
            type="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
            ng-disabled="disabled"
            >{{placeholder}}
        <span class="fa fa-angle-down pull-right"></span>
    </button>
<div class="dropdown-menu" ng-click="multiselect ? $event.stopPropagation() : null">
    <input type="search" class="form-control" ng-model="searchFilter" placeholder="{{searchLabel}}">
    <ul>  
        <li ng-repeat="option in options | orderBy : 'displayName': false | selectFilter : displayName : searchFilter"
            ng-click="setSelectedOption(this)"
            ng-class="isSelected(this) ? 'selected' : null"> {{option[displayName]}}
        </li>         
    </ul>
    <hr ng-if="multiselect"/>
<!--    <span ng-show="options.length == 0">No records found...</span>-->
        <div class="col-md-1" ng-show="multiselect">
            <span class="clickable" ng-click="selectAll()"><i class="fa fa-check-circle" aria-hidden="true"></i> Select all</span> &nbsp;&nbsp;
            <span class="clickable" ng-click="clearAll()"><i class="fa fa-times-circle" aria-hidden="true"></i> Clear all</span>
        </div>
        
    </div>    
</div>
